.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin-bottom: 10px;
}

.buttonOn {
  width: 100px;
  padding: 0.5rem 1rem;
  background-color: #3b82f6; /* Tailwind's blue-500 */
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonOff {
  width: 100px;
  padding: 0.5rem 1rem;
  background-color: #2a2a2a; /* Tailwind's blue-500 */
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #2563eb; /* Tailwind's blue-600 */
}