.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin-bottom: 10px;
}

.buttonOn {
  width: 100px;
  padding: 0.5rem 1rem;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.buttonOff {
  width: 100px;
  padding: 0.5rem 1rem;
  background-color: #2a2a2a;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
}

.card {
  border: 1px solid hsl(214.3 31.8% 91.4%);
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  width: 100%;
  max-width: 42rem;
}

.cardContent {
  padding: 1.5rem;
  padding-top: 0px;
}

.button {
  background-color: hsl(0 0% 9%);
  display: inline-flex;
  height: 2.75rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 0.375rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button:hover {
  background-color: hsla(0, 0%, 21%, 0.9);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.formGrid {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  width: 100%;
}

.profileInput {
  width: 100%;
  font-size: 0.88rem;
  border-radius: 6px;
  border: 1px solid #dfe6ef; /* Tailwind gray-300 */
  background-color: #fff;
  color: #111827; /* Tailwind gray-900 */
  box-sizing: border-box;
  outline: none; /* remove browser default outline */
  margin: 8px 0px 0px;
  padding: 8px 12px;
  line-height: 1.3rem;
}

.profileInput:focus {
  border-color: #0a0a0a;
  outline: none;
}

.confirmButton {
  width: 100%;
  align-items: center;
  justify-self: start;
  padding: 7px 12px;
  line-height: 1.3rem;
  outline: none;
  font-size: 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  line-height: 1.5rem;
  outline: none;
  background-color: #000000;
  color: white;
}

.confirmButton:focus {
  outline: none;
  border-color: black;
}

.confirmButton:hover {
  outline: none;
  border-color: black;
  background-color: #242424;
}
