/* index.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.125rem;
  max-width: 40rem;
  margin-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.buttonLeft,
.buttonRight {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buttonLeft {
  background-color: gray;
  color: white;
}

.buttonRight {
  background-color: #3b82f6;
  color: white;
}

.buttonLeft:hover {
  background-color: #4b5563;
}

.buttonRight:hover {
  background-color: #2563eb;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
}

.textarea {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #333;
  color: white;
  font-size: 1rem;
  width: 100%;
  height: 120px; /* Increase default height */
  min-height: 80px; /* Set a minimum height */
  resize: vertical; /* Allow user to resize height */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}
