/* index.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  text-align: center;

  padding-left: 1rem;
  padding-right: 1rem;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.headingWrapper {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 42rem;
  text-align: center;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.titleIcon {
  height: 48px;
  width: 48px;
  margin-right: 0.5rem;
}

.title {
  font-size: 36px;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin: 0;
}

.title_description {
  font-size: 1.25rem;
  max-width: 40rem;
  margin-bottom: 2rem;
  margin-top: 0;

  color: hsl(0, 0%, 45.1%);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.buttonLeft,
.buttonRight {
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.buttonLeft {
  background-color: gray;
  color: white;
}

.buttonRight {
  background-color: #3b82f6;
  color: white;
}

.buttonLeft:hover {
  background-color: #4b5563;
}

.buttonRight:hover {
  background-color: #2563eb;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #333;
}

.textarea {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #333;
  color: white;
  font-size: 1rem;
  width: 100%;
  height: 120px; /* Increase default height */
  min-height: 80px; /* Set a minimum height */
  resize: vertical; /* Allow user to resize height */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

/*Main page cards*/

.mainPage__CardStyle {
  width: 100%;
  max-width: 42rem;

  border-radius: 0.5rem;
  border-width: 1px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0, 0, 0, 0.05);
}

/*Card Header*/
.cardHeader {
  display: flex;
  padding: 1.5rem;
  margin-top: 0.375rem;
  flex-direction: column;
  align-items: flex-start;
}

.cardTitle {
  /*text-2xl*/
  font-size: 1.5rem;
  line-height: 2rem;

  /*font-semibold*/
  font-weight: 600;

  /*tracking-tight*/
  letter-spacing: -0.025em;

  /*leading-none*/
  line-height: 1;
}

.cardDescription {
  color: hsl(var(--muted-foreground));
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 0.45em;
}

/*Children -- Steps Cards styles*/

.mainPage__CardContent {
  margin-top: calc(1.5rem * calc(1 - 0));
  margin-bottom: calc(1.5rem * 0);
  padding: 1.5rem;
  padding-top: 0px;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  max-width: 42rem;
}

@media (min-width: 768px) {
  .cardsWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.stepCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--border));
  margin-bottom: 1.25rem;
}

.stepCircle {
  background-color: hsla(0, 0%, 9%, 0.1);
  padding: 0.75rem;
  border-radius: 9999px;
  margin-bottom: 0.75rem;
}

.stepNumber {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: hsl(0 0% 9%);
}

.stepTitle {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  margin: 0;
}

.stepDescription {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(0 0% 45.1%);
  margin: 0;
}

/*MainPage button*/
.mainPage__Button {
  width: 100%;
  height: 2.75rem;
  border-radius: 0.375rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.buttonArrow {
  margin-left: 0.5rem;
  height: 1rem;
  width: 1rem;
}
