# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environments
venvResumeTailor/

# LaTeX temporary files
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz

# Compiled LaTeX output
*.pdf

# Latex files
*.tex

# Output files and temp stuff
trivial.json
testing.py

# IDE/editor settings
*.log
.DS_Store
.vscode/

.env
