{% raw %}
% chktex-disable
\PassOptionsToPackage{unicode}{hyperref}
\PassOptionsToPackage{hyphens}{url}
\documentclass[]{article}
\pagestyle{empty}

% Encoding and font
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{lmodern}
\usepackage{textcomp}  % for symbols like euro, etc.

% Math (just in case you use math in bullet points)
\usepackage{amsmath, amssymb}

% Page setup
\usepackage[top=0.4in, bottom=0.75in, left=0.5in, right=0.5in]{geometry}

% Layout and spacing
\usepackage{parskip}       % avoid indentation
\setlength{\parindent}{0pt}
\setlength{\parskip}{6pt plus 2pt minus 1pt}
\usepackage{needspace}     % avoid page breaks in blocks

% Lists
\usepackage{enumitem}
\AtBeginEnvironment{itemize}{\small}
\setlist[itemize]{left=0em, itemsep=0.1em, topsep=0em, parsep=0em}
\renewcommand{\labelitemi}{\scriptsize$\bullet$}

% Colors and rules
\usepackage{xcolor}

% Hyperlinks
\usepackage{hyperref}
\hypersetup{hidelinks, pdfcreator={LaTeX via pandoc} }

% Soft line break support
\IfFileExists{xurl.sty}{\usepackage{xurl} }{}

% Highlight (optional, for \hl{})
\usepackage{soul}

% Misc
\setlength{\emergencystretch}{3em}
\providecommand{\tightlist}{
  \setlength{\itemsep}{0pt}
  \setlength{\parskip}{0pt}
}

% Disable section numbering
\setcounter{secnumdepth}{-\maxdimen}
{% endraw %}

\begin{document}
\begin{center}
	\huge{\textbf{ {% if firstname %}{{firstname}}{% endif %}{% if firstname and lastname %} {% endif %}{% if lastname %}{{lastname}}{% endif %}} }\\
	\vspace{-0.5em} % a bit of space lol
	{\small
		{% if email %}\href{mailto:{{ email }}}{\ul{{ email }}}{% endif %}{% if email and phone %} \textbar{} {% endif %}{% if phone %}{{ phone }}{% endif %}{% if (email or phone) and linkedin_link and linkedin %} \textbar{} {% endif %}{% if linkedin_link and linkedin %}\href{{ linkedin_link }}{\ul{{ linkedin }}}{% endif %}{% if github and github_link %}{% if email or phone or (linkedin_link and linkedin) %} \textbar{} {% endif %}\href{{ github_link }}{\ul{{ github }}}{% endif %}{% if portfolio and portfolio_link %}{% if email or phone or (linkedin_link and linkedin) or (github and github_link) %} \textbar{} {% endif %}\href{{ portfolio_link }}{\ul{{ portfolio }}}{% endif %}
	}
\end{center}

\vspace{0.2em}
{% if work_experiences %}
\textbf{\large Work Experience}\\ 
\vspace{-0.8em}
\hrule height 0.5pt
{% for job in work_experiences %}
\needspace{10\baselineskip}
\begin{samepage}
\textbf{\ignorespaces {% if job.title %}{{ job.title }}{% endif %}} \hfill \textbf{\small {% if job.duration %}{{ job.duration }}{% endif %}} \\\small
    \ignorespaces {% if job.position %}{{ job.position }}{% endif %} \\ % Add job label and location
		\begin{itemize}[leftmargin=2em]
      	\vspace{-1.7em}
	  		{% if job.description %}{% for item in job.description %}
			\item {{item}}
			{% endfor %}{% endif %}
		\end{itemize}
	\vspace{0.2em}
\end{samepage}
{% endfor %}
{% endif %}

{% if technical_skills and technical_skills|length > 0%}
\vspace{0.2em}
\needspace{6\baselineskip}
\begin{samepage}
\textbf{\large Technical Skills}\\ 
\vspace{-0.8em}
\hrule height 0.5pt
\vspace{1.8em}
\begin{itemize}[leftmargin=2em]
    \vspace{-1.7em}
		{% for skill in technical_skills %}
		{% if skill %}
		\item {{skill}}
		{% endif %}
		{% endfor %}
	\end{itemize}
\end{samepage}
\vspace{0.2em}
{% endif %}

{% if educations %}
\vspace{0.2em}
\textbf{\large Education}\\ 
\vspace{-0.8em}
\hrule height 0.5pt
\vspace{1.8em}
\needspace{5\baselineskip}
\begin{samepage}
\begin{itemize}[topsep=0pt, leftmargin=0pt, itemsep=4pt, labelsep=0em, partopsep=0pt]
\renewcommand\labelitemi{}
\vspace{-1.9em}
	{% for edu in educations %}
		\item \textbf{\ignorespaces {% if edu.university %}{{ edu.university }}{% endif %}} \hfill \textbf{\small {% if edu.graduate %}{{ edu.graduate }}{% endif %}} \\\small
				\ignorespaces {% if edu.degree %}{{ edu.degree }}{% endif %}
	{% endfor %}
	\end{itemize}
	\end{samepage}
{% endif %}
\end{document}
% chktex-enable